@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  align-items: center;
}

h1 {
  font-family: 'Roboto', sans-serif; 
  color: aliceblue;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: white;
  color: #7d5fff;
  border: none;
  border-radius: 5px;
}

#container {
  font-family: 'Roboto', sans-serif; 
  color: aliceblue;
}

